<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}My Django App{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'state-list' %}">State List</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
